certifi==2018.1.18
chardet==3.0.4
Django==1.10
django-user-agents==0.3.2
future==0.16.0
idna==2.6
oauthlib==2.0.7
PySocks==1.6.8
python-twitter==3.4.1
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
tweepy==3.6.0
ua-parser==0.7.3
urllib3==1.22
user-agents==1.1.0
win-inet-pton==1.0.1
