// Import modules via all.scss
@import "modules/modules";

// import helpers
@import "helpers/buttons";
@import "helpers/mixins";

// import responsive sheets
@import "responsive/1phone";
@import "responsive/2tablet";
@import "responsive/3desktop";


.mobile-outer-bg{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.logo {
    // font-family: 'Playball', cursive;
    font-family: 'Holtwood One SC', serif;
    font-size: 1.5em;
    color: white;
}

.container{
    position: relative;
    top: 0;
    .mobile-instruct{
        // font-family: 'Unica One', cursive;
        font-family: serif, cursive;
        .fa-thumbs-down{
            font-size: 3.5em;
            margin-top: 65px;
        }
        h1{
            // font-family: 'Playball', cursive;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
            font-size: 3em;
            margin-bottom: 50px;
        }
        img{
            margin: 50px 0 0px 0;
        }
        h2:first-of-type{
            // font-family: 'Playball', cursive;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
            font-size: 2.3em;
            margin-bottom: 48px;
            line-height: 45px;
        }
        h2{
            font-size: 1.5em;
            margin: 15px 0;
            list-style-position: inside;
        }
        p{
            text-align: left;
            font-size: 1.5em;
        }

        h2:last-of-type{
            margin-bottom: 178px;
        }
        .btn{
            font-weight: bold;
        }
        .anchor{
            position: absolute;
            top: 507px;
            left: 22px;
        }
        .mover-box{
            -webkit-transition: max-height 1s;
            -moz-transition: max-height 1s;
            -ms-transition: max-height 1s;
            -o-transition: max-height 1s;
            transition: max-height 1s;
            // background: #e5feff;
            overflow: hidden;
            // // "height: 0" not work with css transitions
            position: absolute;
            bottom: 58px;
            display: none;
            left: 21px;
            width: 89%;
            margin: 0 auto 20px auto;
            height: 280px;
            background-color: silver;
            color: $dark-blue;
            border-radius:  10px;
            padding-bottom: 15px;
            h1{
                padding: 5px;
                color: $dark-blue;
                margin-bottom: 10px;
            }
            h2:first-of-type{
                // font-family: 'Unica One', cursive;
                font-family: serif, cursive;
                font-size: 1.5em;
                line-height: 1em;
                margin: 15px 0;
            }
        }
        .how-answer{
            padding: 20px;
            p{
                margin-bottom: 5px;
                span{
                    color: #C00;
                }
            }
        }
        button{
            background-color: $white;
            border-radius: 3px;
            color: #495057;
            width: 100%;
            margin-bottom: 20px;

            &:active{
                background-color: $t-opal;
                color: $sand;
            }
        }
        .btn-l{
            margin-left: 7px;
        }
        .btn-r{
            padding-right: 21px;
        }
    }

    .user-input {
        z-index: 2;
        position: relative;
        padding: 20px;
        margin-top: 10%;
        font-family: 'Holtwood One SC', serif;
        font-weight: 900;
        color: white;
        text-shadow: 5px 5px 4px #292828;

        h1{
            font-size: 8em;
            margin-top: 20px;
        }
        h2{
            color: rgb(240, 239, 239);
            margin-top: 20px;
            font-size: 2em;
        }
        .error-box{
            max-height: 80px;
            width: 60%;
            margin: 0 auto;
            font-size: 1em;
            color: #c00;
            text-shadow: none;
            background-color: white;
            border-radius: 5px;
            // border: 1px solid gray
        }
        .row{
            margin-top: 10px;
        }
        .select-desc{
            // text-shadow: 2px 2px 2px #292828; text-shadow:
   -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
        }
        .selects{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .btn{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: #243B55;
            height: 50px;
            color: white;
            font-size: 1.2em;
        }

        .network{
            margin-top: -10px;
            margin-bottom: 100px;
        }
    }

    .blue-btn{
        background-color: #243B55;
        color: white;
        margin-top: 10px;
    }

    #baseball{
        display: none;
    }
    #soccer{
        display: none;
    }
    #hockey{
        display: none;
    }
    #basketball{
        display: none;
    }

}

