html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.green-bg {
  background-color: green; }

.gray-bg {
  background-color: #F4F7D9; }

.blue-bg {
  background-color: #04518C; }

.red-bg {
  background-color: red; }

.yellow-bg {
  background-color: yellow; }

.orange-bg {
  background-color: orange; }

.black-bg {
  background-color: black; }

.purple-bg {
  background-color: purple; }

.dilb {
  display: inline-block; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.divider {
  border-bottom: 3px solid #3E423A;
  -webkit-box-shadow: 1px 7px 3px -4px #6c6e58;
  -moz-box-shadow: 1px 7px 3px -4px #6c6e58;
  box-shadow: 1px 7px 3px -4px #6c6e58; }

.divider-small {
  -webkit-box-shadow: 0px 2px 4px 1px #6c6e58;
  -moz-box-shadow: 0px 2px 4px 1px #6c6e58;
  box-shadow: 0px 2px 4px 1px #6c6e58;
  border-bottom: 3px solid #3E423A;
  width: 80%;
  margin: 0 auto;
  height: 1px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.clearfix {
  clear: both; }

img {
  width: 100%;
  height: 100%; }

.mt20 {
  margin-top: 20px; }

.ml20 {
  margin-left: 20px; }

.mr20 {
  margin-right: 20px; }

.m20 {
  margin: 20px; }

@media screen and (max-width: 500px) {
  .slideshow {
    list-style: none; } }
@media screen and (min-width: 501px) {
  body {
    background-color: #EEE; }

  .slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0; }

  .slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; }

  .slideshow li:nth-child(1) {
    background-image: url("/static/img/img1.jpg"); }

  .slideshow li:nth-child(2) {
    background-image: url("/static/img/img2.jpg");
    animation-delay: 10s; }

  .slideshow li:nth-child(3) {
    background-image: url("/static/img/img3.jpg");
    animation-delay: 20s; }

  .slideshow li:nth-child(4) {
    background-image: url("/static/img/img4.jpg");
    animation-delay: 30s; }

  .slideshow li:nth-child(5) {
    background-image: url("/static/img/img5.jpg");
    animation-delay: 40s; }

  .slideshow li:nth-child(6) {
    background-image: url("/static/img/img6.jpg");
    animation-delay: 50s; }

  .slideshow li:nth-child(7) {
    background-image: url("/static/img/img7.jpg");
    animation-delay: 60s; }

  .slideshow li:nth-child(8) {
    background-image: url("/static/img/img8.jpg");
    animation-delay: 70s; } }
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  10% {
    opacity: 1;
    animation-timing-function: ease-out; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; } }
/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .large, .medium {
    display: none; }

  .container {
    color: white; } }
@media only screen and (min-device-width: 481px) and (max-device-width: 1023px) {
  .small, .large {
    display: none; } }
@media only screen and (min-device-width: 1024px) {
  .small, .tablet {
    display: none; } }
.mobile-outer-bg {
  background: #141E30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.logo {
  font-family: 'Playball', cursive;
  font-size: 1.5em;
  color: white; }

.container .mobile-instruct {
  font-family: 'Unica One', cursive; }
  .container .mobile-instruct .fa-thumbs-down {
    font-size: 3.5em;
    margin-top: 100px; }
  .container .mobile-instruct h1 {
    font-family: 'Playball', cursive;
    font-size: 3em; }
  .container .mobile-instruct h2 {
    font-size: 2em;
    margin-top: 150px;
    margin-bottom: 30px;
    list-style-position: inside; }
  .container .mobile-instruct ol {
    list-style-position: inside;
    text-align: left;
    font-size: 1.5em;
    list-style-type: upper-roman;
    margin-bottom: 30px; }
  .container .mobile-instruct .btn {
    font-weight: bold; }
.container .sidebar .row {
  margin-top: 10px; }
.container .sidebar .selects {
  width: 100%;
  margin-left: 0; }
.container .search {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 40px;
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5); }
.container h1 {
  font-family: 'Playball', cursive;
  font-size: 4em;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px; }
.container h4 {
  text-align: center; }
.container input {
  text-align: center; }
.container .btn-info {
  margin: 10px auto 0 auto; }
.container .search-sm {
  margin-bottom: 10px; }
.container .graph-wrapper {
  width: 100%;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
  border-radius: 10px;
  margin-left: -10px; }

/*# sourceMappingURL=base.css.map */
