{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- inclusion of compiled cssfile from SASS -->
    <link rel="stylesheet" href="{% static '/disappointed_fan_app/styles/base.css'%}">
    <!-- Project specfic JS and Libs -->
    <script src="{% static '/disappointed_fan_app/js/template.js'%}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Playball|Unica+One|Permanent+Marker" rel="stylesheet">
    <script src="{% static '/disappointed_fan_app/js/d3.min.js' %}"></script>
    <script src="{% static '/disappointed_fan_app/js/script.js' %}"></script>
    <title>Disappointed Fan</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>