{% extends 'disappointed_fan_app/base.html' %}
    {% block content %}
    <div class="mobile-outer-bg">
        <div class="container">
            <div class="row mobile-instruct">
                <div class="col-12">
                    <div class="tac">
                        <span class="far fa-thumbs-down"></span>
                    </div>
                    <h2 class="tac">Entertainment Sports Disappointment Network</h2>
                    <h2 class="tac">Your home for sports despair and frustration.</h2>
                    <div class="anchor1">
                        <div class="why-answer mover-box" id="why-data">
                            <h1 class="tac">Why you ask?</h1>
                            <h2 class="tac">Because not everyone loves sports.</h2>
                            <h2 class="tac">Because some people enjoy watching others lose.</h2>
                            <h2 class="tac">Because sadness needs a home.</h2>
                        </div>
                    </div>
                    <div class="how-answer mover-box" id="how-data">
                        <p><span>#1</span> Choose a sport and team</p>
                        <p><span>#2</span> Choose a term to search</p>
                        <p><span>#3</span> No puppies, kittens, rainbows or general feel goodery. Ever. Seriously, we filter what you can search.</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-default btn-l" id="how">How?</button>
                        </div>
                        <div class="col-6 btn-r">
                            <button class="btn btn-default " id="why">Why?</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="main" class="btn btn-default form-control ml20 mr20"> LET ME IN!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}