 {% extends 'disappointed_fan_app/base.html' %} {% block content %}

<div class="container">
    <div class="user-input">
        <form action="process" method="POST" class="center">
            {% csrf_token %}
            <h1 class="tac">ESDN</h1>
            <h2 class="tac">Entertainment Sports Disappointment Network</h2>
            <div class="row selects">
                <select class="selectpicker form-control col-md-3 pick1" name="select1">
                    <option>Baseball</option>
                    <option>Soccer</option>
                    <option>Hockey</option>
                </select>
                <div class="col-md-1"></div>
                <select class="selectpicker form-control col-md-3 pick2" name="select2">
                    {% for team in baseball %}
                    <option>{{team.name}}</option>
                    {% endfor %}
                </select>
                <div class="col-md-1"></div>
                <input type="text" class="form-control col-md-4" placeholder="Curse Here" name="index_curse">
            </div>
            <div class="row">
                <input type="submit" class="btn form-control ml20 mr20 " value="Find out How many people has the same thought!">
            </div>
        </form>
    </div>
</div>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
{% endblock %}