{% extends 'disappointed_fan_app/base.html' %}
    {% block content %}
    <div class="mobile-outer-bg">
        <div class="container">
            <div class="row mobile-instruct">
                <div class="col-12">
                    <p class="tac"><span class="far fa-thumbs-down"></span></p>
                    <h1 class="tac">Disappointed Fans...</h1>
                    <h2 class="tac">How To Use</h2>
                    <ol>
                        <li class="ml20">Search Term</li>
                        <li class="ml20">Add filters</li>
                        <li class="ml20">No Mr.Nice Guy</li>
                    </ol>
                </div>
                <a href="main" class="btn btn-default form-control ml20 mr20">Go!</a>
            </div>
        </div>
    </div>
    {% endblock %}