{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- inclusion of compiled cssfile from SASS -->
    <link rel="stylesheet" href="{% static '/disappointed_fan_app/styles/base.css'%}">
    <!-- Project specfic JS and Libs -->
    <script src="{% static '/disappointed_fan_app/js/template.js'%}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania|Playball|Unica+One" rel="stylesheet">
    <title>Disappointed Fan</title>
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #243B55;">
        <h3 class="logo">Disappointed Fans</h3>
        <a href="index">
            <i class="far fa-question-circle ml-auto logo"></i>
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="sidebar col-md-4 col-12">
                <form action="process" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Your word">
                        </div>
                    </div>
                    <div class="row selects tac">
                        <select class="selectpicker form-control col-6 col-md-12">
                            <option>Select</option>
                            <option>Football</option>
                            <option>Hockey</option>
                            <option>Soccer</option>
                            <option>Volleyball</option>
                            <option>Cricket</option>
                            <option>Lacrosse</option>
                            <option>Basketball</option>
                            <option>Baseball</option>
                        </select>
                        <select class="selectpicker form-control col-6 col-md-12">
                            <optgroup label="NFL">
                                <option>Arizona Cardinals</option>
                                <option>Atlanta Falcons</option>
                                <option>Baltimore Ravens</option>
                                <option>Buffalo Bills</option>
                            </optgroup>
                            <optgroup label="MLB">
                                <option>Baltimore Orioles</option>
                                <option>Boston Red Sox</option>
                                <option>Chicago White Sox</option>
                                <option>Chicago Cubs</option>
                                <option>Colorado Rockies</option>
                                <option>Los Angeles Dodgers</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="row">
                        <input type="submit" class="btn btn-secondary form-control ml20 mr20 " value="Go!">
                    </div>
                </form>
                <div class="twitterfeed large">
                    <a class="twitter-timeline" data-width="300" data-height="600" href="https://twitter.com/TwitterSports?ref_src=twsrc%5Etfw">Tweets by TwitterSports</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>


        </div>
        <div class="content col-md-8 col-12">
            <div class="green-bg graph-wrapper m20">

            </div>
        </div>

    </div>
</body>

</html>