{% extends 'disappointed_fan_app/base.html' %} {% block content %}
<nav class="navbar navbar-light" style="background-color: #243B55;">
    <h3 class="logo">ESDN</h3>
    <a href="/">
        <p class="far fa-question-circle ml-auto logo"></p>
    </a>
</nav>
<div class="container">
    <div class="row">
        <div class="sidebar col-md-4 col-12">
            <form action="process_main" method="POST">
                {% csrf_token %}
                <div class="row selects tac">
                    <select class="selectpicker form-control col-6 col-md-12" name="sport">
                        <option>Baseball</option>
                        <option>Soccer</option>
                        <option>Hockey</option>
                    </select>
                    <select class="selectpicker form-control col-6 col-md-12" name="team">
                        {% for team in baseball %}
                        <option>{{team.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Your word" name="main_curse">
                    </div>
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-secondary form-control ml20 mr20 " value="Go!">
                </div>
            </form>
            <div class="twitterfeed large tac">
                <a class="twitter-timeline" data-width="90%" data-height="450" href="https://twitter.com/TwitterSports?ref_src=twsrc%5Etfw">Tweets by TwitterSports</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="content col-md-8 col-12">
            <h2 class="graph-title col-md-col-12 tac">{{curse}}</h2>
            <div class="graph-wrapper m20">
                <div id="viz"></div>
            </div>
        </div>
    </div>

</div>
{% endblock %}