.dilb{
    display: inline-block
}
.hidden{
    display: none;
}
.invisible{
    visibility: hidden;
}
.tac{
    text-align: center;
}
.tal{
    text-align: left;
}
.tar{
    text-align: right;
}
.divider{
    border-bottom: 3px solid $t-stone;
    -webkit-box-shadow: 1px 7px 3px -4px rgba(108,110,88,1);
    -moz-box-shadow: 1px 7px 3px -4px rgba(108,110,88,1);
    box-shadow: 1px 7px 3px -4px rgba(108,110,88,1);
}
.divider-small{
    -webkit-box-shadow: 0px 2px 4px 1px rgba(108,110,88,1);
    -moz-box-shadow: 0px 2px 4px 1px rgba(108,110,88,1);
    box-shadow: 0px 2px 4px 1px rgba(108,110,88,1);
    border-bottom: 3px solid $t-stone;
    width: 80%;
    margin: 0 auto;
    height: 1px;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.clearfix{
    clear: both;
}
img{
    width: 100%;
    height: 100%;
}
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml10{
    margin-left: 10px;
}
.mr20{
    margin-right: 20px;
}
.mr10{
    margin-right: 10px;
}
.m20{
    margin: 20px;
}


